body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left-container {
    background-image: url("./images/neon-city.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(247, 247, 247);
    width: 60vw;
    
}

.logo {
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 30vh;
    gap: 1vw;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.right-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    color: rgb(185, 185, 185)
    
}

.up-container {
    background-color: rgb(0, 0, 0);
    padding: 128px 64px 64px 64px;
}

.up {
    max-width: 690px;
    font-size: 16px;
    
    
}

.neoff {
    color: white;
    font-weight: bold;
}
h2 {
    font-weight: 500;
}

img {
    width: 175px;
    height: auto;
}

.mid {
    background-color: black;
    padding: 128px 64px 64px 64px;
}

p {
    font-size: 24px;
}